# ============================
# Java
# ============================
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# ============================
# Maven
# ============================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ============================
# Gradle
# ============================
.gradle/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# ============================
# IntelliJ IDEA
# ============================
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

# ============================
# Eclipse
# ============================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# ============================
# VSCode
# ============================
.vscode/
*.code-workspace
.history/

# ============================
# NetBeans
# ============================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ============================
# OS files
# ============================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# ============================
# Minecraft / Mod specific
# ============================
run/
runs/
logs/
crash-reports/
world/
saves/
options.txt
servers.dat
*.log

# ============================
# Fabric
# ============================
fabric-run/
remappedSrc/

# ============================
# Forge
# ============================
forge-run/
# Forge use old gradle
!forge/gradle/wrapper/gradle-wrapper.jar

# ============================
# Deploy
# ============================
.deploy-receipt.json

# Heap dumps
*.hprof
